<a href="https://colab.research.google.com/github/ShyamKumarChand/Collection-of-data/blob/master/AusOpen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data = pd.read_csv('/content/AusOpen-men-2013.csv')
data.head()

            Player1          Player2  Round  Result  ...  ST2.2  ST3.2  ST4.2  ST5.2
0       Lukas Lacko   Novak Djokovic      1       0  ...    7.0    6.0    NaN    NaN
1    Leonardo Mayer  Albert Montanes      1       1  ...    3.0    1.0    NaN    NaN
2  Marcos Baghdatis    Denis Istomin      1       0  ...    7.0    6.0    NaN    NaN
3   Dmitry Tursunov  Michael Russell      1       1  ...    2.0    3.0    NaN    NaN
4       Juan Monaco   Ernests Gulbis      1       0  ...    6.0    7.0    6.0    NaN

[5 rows x 42 columns]

In [ ]:
data

              Player1             Player2  Round  ...  ST3.2  ST4.2  ST5.2
0         Lukas Lacko      Novak Djokovic      1  ...    6.0    NaN    NaN
1      Leonardo Mayer     Albert Montanes      1  ...    1.0    NaN    NaN
2    Marcos Baghdatis       Denis Istomin      1  ...    6.0    NaN    NaN
3     Dmitry Tursunov     Michael Russell      1  ...    3.0    NaN    NaN
4         Juan Monaco      Ernests Gulbis      1  ...    7.0    6.0    NaN
..                ...                 ...    ...  ...    ...    ...    ...
121       Andy Murray       Roger Federer      5  ...    6.0    6.0    NaN
122      Rafael Nadal     Grigor Dimitrov      5  ...    6.0    2.0    NaN
123     Tomas Berdych  Stanislas Wawrinka      6  ...    7.0    7.0    NaN
124      Rafael Nadal       Roger Federer      6  ...    3.0    NaN    NaN
125      Rafael Nadal  Stanislas Wawrinka      7  ...    3.0    6.0    NaN

[126 rows x 42 columns]

In [ ]:
data.isna().sum()

Player1      0
Player2      0
Round        0
Result       0
FNL1         0
FNL2         0
FSP.1        0
FSW.1        0
SSP.1        0
SSW.1        0
ACE.1        0
DBF.1        1
WNR.1        0
UFE.1        0
BPC.1        0
BPW.1        0
NPA.1       22
NPW.1       22
TPW.1        0
ST1.1        0
ST2.1        1
ST3.1        5
ST4.1       67
ST5.1      105
FSP.2        0
FSW.2        0
SSP.2        0
SSW.2        0
ACE.2        0
DBF.2        1
WNR.2        0
UFE.2        0
BPC.2        0
BPW.2        0
NPA.2       22
NPW.2       22
TPW.2        0
ST1.2        0
ST2.2        1
ST3.2        5
ST4.2       67
ST5.2      105
dtype: int64

In [ ]:
data.describe()

            Round      Result        FNL1  ...       ST3.2      ST4.2      ST5.2
count  126.000000  126.000000  126.000000  ...  121.000000  59.000000  21.000000
mean     1.936508    0.531746    1.880952  ...    4.867769   4.423729   5.000000
std      1.275906    0.500983    1.243268  ...    1.830037   2.077825   1.702939
min      1.000000    0.000000    0.000000  ...    0.000000   0.000000   1.000000
25%      1.000000    0.000000    1.000000  ...    3.000000   3.000000   4.000000
50%      1.000000    1.000000    2.000000  ...    6.000000   6.000000   6.000000
75%      2.000000    1.000000    3.000000  ...    6.000000   6.000000   6.000000
max      7.000000    1.000000    3.000000  ...    7.000000   7.000000   7.000000

[8 rows x 40 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 42 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player1  126 non-null    object
 1   Player2  126 non-null    object
 2   Round    126 non-null    int64
 3   Result   126 non-null    int64
 4   FNL1     126 non-null    int64
 5   FNL2     126 non-null    int64
 6   FSP.1    126 non-null    int64
 7   FSW.1    126 non-null    int64
 8   SSP.1    126 non-null    int64
 9   SSW.1    126 non-null    int64
 10  ACE.1    126 non-null    int64
 11  DBF.1    125 non-null    float64
 12  WNR.1    126 non-null    int64
 13  UFE.1    126 non-null    int64
 14  BPC.1    126 non-null    int64
 15  BPW.1    126 non-null    int64
 16  NPA.1    104 non-null    float64
 17  NPW.1    104 non-null    float64
 18  TPW.1    126 non-null    int64
 19  ST1.1    126 non-null    int64
 20  ST2.1    125 non-null    float64
 21  ST3.1    121 non-null    float64
 22  ST4.1    59 non-null     float64
 23  ST5.1    21 non-null     float64
 24  FSP.2    126 non-null    int64
 25  FSW.2    126 non-null    int64
 26  SSP.2    126 non-null    int64
 27  SSW.2    126 non-null    int64
 28  ACE.2    126 non-null    int64
 29  DBF.2    125 non-null    float64
 30  WNR.2    126 non-null    int64
 31  UFE.2    126 non-null    int64
 32  BPC.2    126 non-null    int64
 33  BPW.2    126 non-null    int64
 34  NPA.2    104 non-null    float64
 35  NPW.2    104 non-null    float64
 36  TPW.2    126 non-null    int64
 37  ST1.2    126 non-null    int64
 38  ST2.2    125 non-null    float64
 39  ST3.2    121 non-null    float64
 40  ST4.2    59 non-null     float64
 41  ST5.2    21 non-null     float64
dtypes: float64(14), int64(26), object(2)
memory usage: 41.5+ KB

In [ ]:
fill = np.nanmean(data['NPA.1'])
fill

14.423076923076923

In [ ]:
data['NPA.1']=data['NPA.1'].fillna(fill)
data['NPA.2']=data['NPA.2'].fillna(fill)
data['NPW.2']=data['NPW.2'].fillna(fill)
data['NPW.1']=data['NPW.1'].fillna(fill)
data['ST4.1']=data['ST4.1'].fillna(fill)
data['ST5.1']=data['ST5.1'].fillna(fill)
data['ST4.2']=data['ST4.2'].fillna(fill)
data['ST5.2']=data['ST5.2'].fillna(fill)
data

              Player1             Player2  Round  ...  ST3.2      ST4.2      ST5.2
0         Lukas Lacko      Novak Djokovic      1  ...    6.0  16.201923  16.201923
1      Leonardo Mayer     Albert Montanes      1  ...    1.0  16.201923  16.201923
2    Marcos Baghdatis       Denis Istomin      1  ...    6.0  16.201923  16.201923
3     Dmitry Tursunov     Michael Russell      1  ...    3.0  16.201923  16.201923
4         Juan Monaco      Ernests Gulbis      1  ...    7.0   6.000000  16.201923
..                ...                 ...    ...  ...    ...        ...        ...
121       Andy Murray       Roger Federer      5  ...    6.0   6.000000  16.201923
122      Rafael Nadal     Grigor Dimitrov      5  ...    6.0   2.000000  16.201923
123     Tomas Berdych  Stanislas Wawrinka      6  ...    7.0   7.000000  16.201923
124      Rafael Nadal       Roger Federer      6  ...    3.0  16.201923  16.201923
125      Rafael Nadal  Stanislas Wawrinka      7  ...    3.0   6.000000  16.201923

[126 rows x 42 columns]

In [ ]:
data[data['NPA.1']<0]=np.nan
data[data['NPW.1']<0]=np.nan
data[data['ST4.1']<0]=np.nan
data[data['ST5.1']<0]=np.nan
data[data['NPA.2']<0]=np.nan
data[data['NPW.2']<0]=np.nan
data[data['ST4.2']<0]=np.nan
data[data['ST5.2']<0]=np.nan

In [ ]:
data.describe()

          Player1     Player2       Round  ...       ST3.2       ST4.2       ST5.2
count  126.000000  126.000000  126.000000  ...  121.000000  126.000000  126.000000
mean    38.888889   39.603175    1.936508  ...    4.867769   10.686737   14.334936
std     22.406864   22.127658    1.275906  ...    1.830037    6.068051    4.246367
min      0.000000    0.000000    1.000000  ...    0.000000    0.000000    1.000000
25%     21.250000   21.000000    1.000000  ...    3.000000    6.000000   16.201923
50%     38.500000   39.500000    1.000000  ...    6.000000   16.201923   16.201923
75%     57.750000   59.750000    2.000000  ...    6.000000   16.201923   16.201923
max     75.000000   79.000000    7.000000  ...    7.000000   16.201923   16.201923

[8 rows x 42 columns]

In [ ]:
data['total_no_npa'] = data['NPA.1']*data['NPW.1']
data.describe()

          Player1     Player2       Round  ...       ST4.2       ST5.2  total_no_npa
count  126.000000  126.000000  126.000000  ...  126.000000  126.000000    126.000000
mean    38.888889   39.603175    1.936508  ...   10.686737   14.334936    366.036137
std     22.406864   22.127658    1.275906  ...    6.068051    4.246367    353.808660
min      0.000000    0.000000    1.000000  ...    0.000000    1.000000      3.000000
25%     21.250000   21.000000    1.000000  ...    6.000000   16.201923    154.500000
50%     38.500000   39.500000    1.000000  ...   16.201923   16.201923    208.025148
75%     57.750000   59.750000    2.000000  ...   16.201923   16.201923    498.000000
max     75.000000   79.000000    7.000000  ...   16.201923   16.201923   2257.000000

[8 rows x 43 columns]

In [ ]:
data['Player1'] = le.fit_transform(data['Player1'])
data

     Player1             Player2  Round  ...  ST3.2      ST4.2      ST5.2
0         38      Novak Djokovic    1.0  ...    6.0  16.201923  16.201923
1         37     Albert Montanes    1.0  ...    1.0  16.201923  16.201923
2         39       Denis Istomin    1.0  ...    6.0  16.201923  16.201923
3         16     Michael Russell    1.0  ...    3.0  16.201923  16.201923
4         35      Ernests Gulbis    1.0  ...    7.0   6.000000  16.201923
..       ...                 ...    ...  ...    ...        ...        ...
121        5       Roger Federer    5.0  ...    6.0   6.000000  16.201923
122       55     Grigor Dimitrov    5.0  ...    6.0   2.000000  16.201923
123       72  Stanislas Wawrinka    6.0  ...    7.0   7.000000  16.201923
124       55       Roger Federer    6.0  ...    3.0  16.201923  16.201923
125       55  Stanislas Wawrinka    7.0  ...    3.0   6.000000  16.201923

[126 rows x 42 columns]

In [ ]:
data['Player2'] = le.fit_transform(data['Player2'])
data

     Player1  Player2  Round  Result  ...  ST2.2  ST3.2      ST4.2      ST5.2
0         38       59    1.0     0.0  ...    7.0    6.0  16.201923  16.201923
1         37        1    1.0     1.0  ...    3.0    1.0  16.201923  16.201923
2         39       14    1.0     0.0  ...    7.0    6.0  16.201923  16.201923
3         16       55    1.0     1.0  ...    2.0    3.0  16.201923  16.201923
4         35       19    1.0     0.0  ...    6.0    7.0   6.000000  16.201923
..       ...      ...    ...     ...  ...    ...    ...        ...        ...
121        5       63    5.0     0.0  ...    6.0    6.0   6.000000  16.201923
122       55       28    5.0     1.0  ...    6.0    6.0   2.000000  16.201923
123       72       66    6.0     0.0  ...    6.0    7.0   7.000000  16.201923
124       55       63    6.0     1.0  ...    3.0    3.0  16.201923  16.201923
125       55       66    7.0     0.0  ...    6.0    3.0   6.000000  16.201923

[126 rows x 42 columns]

In [ ]:
from sklearn.preprocessing import normalize
data_scaled = normalize(data)
data_scaled = pd.DataFrame(data_scaled, columns=data.columns)
data_scaled.head()

ValueError: ignored