In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
case_study = pd.read_excel('Downloads/Case Study - Deep Dive Analysis (1).xlsx',encoding='latin-1')

In [4]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [3]:
case_study.head()

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,East,Rural,GLAXOSMITHKLINE,HORLICKS,HORLICKS LITE,HORLICKS LITE 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,4883.050
1,East,Rural,GLAXOSMITHKLINE,HORLICKS,WOMENS HORLICKS,WOMENS HORLICKS 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,4460.013
2,East,Rural,GLAXOSMITHKLINE,BOOST,BOOST SPORTS,BOOST SPORTS 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,3230.254
3,East,Rural,GLAXOSMITHKLINE,HORLICKS,HORLICKS HEALTH AND NUTRITION,HORLICKS HEALTH AND NUTRITION 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,4548.961
4,East,Rural,GLAXOSMITHKLINE,BOOST,BOOST HEALTH AND ENERGY,BOOST HEALTH AND ENERGYÂ 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,2993.130

There are multiple instances where the Value Sales have decreased for different manufacturers in the last month compared to the month before that and it is important for the business to understand the exact area or level from where the drop is coming from

Objective:
To create a generic Python function which can do a deep dive analysis and give out exact focus area which are behind the cause of drop of Value Sales for a particular Manufacturer

Steps to follow:
1. Check if there is a drop in the Value Sales in the target month compared to last month
2. If Step 1 shows an increase then print "There is no drop in the sales for a <particular manufacturer> in the <specified time period>"
3. If Step 1 shows a drop, then proceed by picking different deep dive options: Product level, Geographical level
4. To do a deep dive - calculate the growth rate of sales in the target month and contribution to overall value sales
5. Take a product of the above two metrics to get a decisive metric which can then be sorted accordingly to get the actual focus area
6. Expected final input to the function:
func(Manufacturer = "X", target_period = "May2019", reference_period = "Apr2019")
7. Expected final output of the function:
Manufacturer focus_area growth_rate contribution product
X F1 -20% 50% -0.10
X F2 -15% 30% -0.05
X F3 -25% 5% -0.01


Additional Information:
1. There is a Geographical Level Hierarchy - Zone, Region
2. There is a Product Level Hierarchy- Manufacturer, Brand, Subbrand, Item
3. Pack Type and Pack Size are present under Item level
4. Formula for growth_rate = ( Value Sales (target_period) - Value Sales (reference_period) ) * 100 / Value Sales (reference_period)
5. Formula for contribution = Value Sales (F1) * 100 / Value Sales (X)
6. Formula for product = growth_rate * contribution

In [4]:
case_study['month'] = case_study['Value Offtake(000 Rs)']

In [5]:
Value_Of_ftake = 4883.050
print('sales price is 4883.050')

sales price is 4883.050

In [6]:
if Value_Of_ftake <= 4883.050:
    print('There is drop in the sales')
else:
    print('Their is no drop in the sales')

There is drop in the sales

In [7]:
CAGR = (4883.050/2993.130)**(1/6.0)-1
print ('Growth rate had a CAGR of {:.2%} '.format(CAGR))

Growth rate had a CAGR of 8.50%

In [8]:
case_study.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280 entries, 0 to 1279
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Zone                   1280 non-null   object
 1   Region                 1280 non-null   object
 2   Manufacturer           1280 non-null   object
 3   Brand                  1280 non-null   object
 4   Subbrand               1280 non-null   object
 5   Item                   1280 non-null   object
 6   PackSize               1280 non-null   object
 7   Packtype               1280 non-null   object
 8   month                  1280 non-null   float64
 9   Value Offtake(000 Rs)  1280 non-null   float64
dtypes: float64(2), object(8)
memory usage: 100.1+ KB

In [9]:
case_study.tail()

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
1275,West,Urban,NESTLE,MILO,MILO ACTIVE GO,MILO ACTIVE GO 400 GMS REFILL PACK,400 GMS,REFILL PACK,954.106,954.106
1276,West,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_1,400 GMS,REFILL PACK,361.682,361.682
1277,West,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_2,400 GMS,REFILL PACK,352.389,352.389
1278,West,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_3,400 GMS,REFILL PACK,320.917,320.917
1279,West,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_4,400 GMS,REFILL PACK,245.041,245.041

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()

In [12]:
case_study['Zone'] = le.fit_transform(case_study['Zone'])
case_study

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,0,Rural,GLAXOSMITHKLINE,HORLICKS,HORLICKS LITE,HORLICKS LITE 500 GMS REFILL PACK,500 GMS,REFILL PACK,4883.050,4883.050
1,0,Rural,GLAXOSMITHKLINE,HORLICKS,WOMENS HORLICKS,WOMENS HORLICKS 500 GMS REFILL PACK,500 GMS,REFILL PACK,4460.013,4460.013
2,0,Rural,GLAXOSMITHKLINE,BOOST,BOOST SPORTS,BOOST SPORTS 500 GMS REFILL PACK,500 GMS,REFILL PACK,3230.254,3230.254
3,0,Rural,GLAXOSMITHKLINE,HORLICKS,HORLICKS HEALTH AND NUTRITION,HORLICKS HEALTH AND NUTRITION 500 GMS REFILL PACK,500 GMS,REFILL PACK,4548.961,4548.961
4,0,Rural,GLAXOSMITHKLINE,BOOST,BOOST HEALTH AND ENERGY,BOOST HEALTH AND ENERGYÂ 500 GMS REFILL PACK,500 GMS,REFILL PACK,2993.130,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,3,Urban,NESTLE,MILO,MILO ACTIVE GO,MILO ACTIVE GO 400 GMS REFILL PACK,400 GMS,REFILL PACK,954.106,954.106
1276,3,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_1,400 GMS,REFILL PACK,361.682,361.682
1277,3,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_2,400 GMS,REFILL PACK,352.389,352.389
1278,3,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_3,400 GMS,REFILL PACK,320.917,320.917
1279,3,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_4,400 GMS,REFILL PACK,245.041,245.041

In [13]:
case_study['Region'] = le.fit_transform(case_study['Region'])
case_study

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,0,0,GLAXOSMITHKLINE,HORLICKS,HORLICKS LITE,HORLICKS LITE 500 GMS REFILL PACK,500 GMS,REFILL PACK,4883.050,4883.050
1,0,0,GLAXOSMITHKLINE,HORLICKS,WOMENS HORLICKS,WOMENS HORLICKS 500 GMS REFILL PACK,500 GMS,REFILL PACK,4460.013,4460.013
2,0,0,GLAXOSMITHKLINE,BOOST,BOOST SPORTS,BOOST SPORTS 500 GMS REFILL PACK,500 GMS,REFILL PACK,3230.254,3230.254
3,0,0,GLAXOSMITHKLINE,HORLICKS,HORLICKS HEALTH AND NUTRITION,HORLICKS HEALTH AND NUTRITION 500 GMS REFILL PACK,500 GMS,REFILL PACK,4548.961,4548.961
4,0,0,GLAXOSMITHKLINE,BOOST,BOOST HEALTH AND ENERGY,BOOST HEALTH AND ENERGYÂ 500 GMS REFILL PACK,500 GMS,REFILL PACK,2993.130,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,3,1,NESTLE,MILO,MILO ACTIVE GO,MILO ACTIVE GO 400 GMS REFILL PACK,400 GMS,REFILL PACK,954.106,954.106
1276,3,1,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_1,400 GMS,REFILL PACK,361.682,361.682
1277,3,1,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_2,400 GMS,REFILL PACK,352.389,352.389
1278,3,1,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_3,400 GMS,REFILL PACK,320.917,320.917
1279,3,1,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_4,400 GMS,REFILL PACK,245.041,245.041

In [14]:
case_study['Manufacturer'] = le.fit_transform(case_study['Manufacturer'])
case_study

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,0,0,1,HORLICKS,HORLICKS LITE,HORLICKS LITE 500 GMS REFILL PACK,500 GMS,REFILL PACK,4883.050,4883.050
1,0,0,1,HORLICKS,WOMENS HORLICKS,WOMENS HORLICKS 500 GMS REFILL PACK,500 GMS,REFILL PACK,4460.013,4460.013
2,0,0,1,BOOST,BOOST SPORTS,BOOST SPORTS 500 GMS REFILL PACK,500 GMS,REFILL PACK,3230.254,3230.254
3,0,0,1,HORLICKS,HORLICKS HEALTH AND NUTRITION,HORLICKS HEALTH AND NUTRITION 500 GMS REFILL PACK,500 GMS,REFILL PACK,4548.961,4548.961
4,0,0,1,BOOST,BOOST HEALTH AND ENERGY,BOOST HEALTH AND ENERGYÂ 500 GMS REFILL PACK,500 GMS,REFILL PACK,2993.130,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,3,1,4,MILO,MILO ACTIVE GO,MILO ACTIVE GO 400 GMS REFILL PACK,400 GMS,REFILL PACK,954.106,954.106
1276,3,1,4,MILO,MILO ACTIVE GO,NESTLE_item_1,400 GMS,REFILL PACK,361.682,361.682
1277,3,1,4,MILO,MILO ACTIVE GO,NESTLE_item_2,400 GMS,REFILL PACK,352.389,352.389
1278,3,1,4,MILO,MILO ACTIVE GO,NESTLE_item_3,400 GMS,REFILL PACK,320.917,320.917
1279,3,1,4,MILO,MILO ACTIVE GO,NESTLE_item_4,400 GMS,REFILL PACK,245.041,245.041

In [15]:
case_study['Brand'] = le.fit_transform(case_study['Brand'])
case_study

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,0,0,1,4,HORLICKS LITE,HORLICKS LITE 500 GMS REFILL PACK,500 GMS,REFILL PACK,4883.050,4883.050
1,0,0,1,4,WOMENS HORLICKS,WOMENS HORLICKS 500 GMS REFILL PACK,500 GMS,REFILL PACK,4460.013,4460.013
2,0,0,1,1,BOOST SPORTS,BOOST SPORTS 500 GMS REFILL PACK,500 GMS,REFILL PACK,3230.254,3230.254
3,0,0,1,4,HORLICKS HEALTH AND NUTRITION,HORLICKS HEALTH AND NUTRITION 500 GMS REFILL PACK,500 GMS,REFILL PACK,4548.961,4548.961
4,0,0,1,1,BOOST HEALTH AND ENERGY,BOOST HEALTH AND ENERGYÂ 500 GMS REFILL PACK,500 GMS,REFILL PACK,2993.130,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,3,1,4,5,MILO ACTIVE GO,MILO ACTIVE GO 400 GMS REFILL PACK,400 GMS,REFILL PACK,954.106,954.106
1276,3,1,4,5,MILO ACTIVE GO,NESTLE_item_1,400 GMS,REFILL PACK,361.682,361.682
1277,3,1,4,5,MILO ACTIVE GO,NESTLE_item_2,400 GMS,REFILL PACK,352.389,352.389
1278,3,1,4,5,MILO ACTIVE GO,NESTLE_item_3,400 GMS,REFILL PACK,320.917,320.917
1279,3,1,4,5,MILO ACTIVE GO,NESTLE_item_4,400 GMS,REFILL PACK,245.041,245.041

In [16]:
case_study['Subbrand'] = le.fit_transform(case_study['Subbrand'])
case_study

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,0,0,1,4,6,HORLICKS LITE 500 GMS REFILL PACK,500 GMS,REFILL PACK,4883.050,4883.050
1,0,0,1,4,8,WOMENS HORLICKS 500 GMS REFILL PACK,500 GMS,REFILL PACK,4460.013,4460.013
2,0,0,1,1,2,BOOST SPORTS 500 GMS REFILL PACK,500 GMS,REFILL PACK,3230.254,3230.254
3,0,0,1,4,5,HORLICKS HEALTH AND NUTRITION 500 GMS REFILL PACK,500 GMS,REFILL PACK,4548.961,4548.961
4,0,0,1,1,1,BOOST HEALTH AND ENERGYÂ 500 GMS REFILL PACK,500 GMS,REFILL PACK,2993.130,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,3,1,4,5,7,MILO ACTIVE GO 400 GMS REFILL PACK,400 GMS,REFILL PACK,954.106,954.106
1276,3,1,4,5,7,NESTLE_item_1,400 GMS,REFILL PACK,361.682,361.682
1277,3,1,4,5,7,NESTLE_item_2,400 GMS,REFILL PACK,352.389,352.389
1278,3,1,4,5,7,NESTLE_item_3,400 GMS,REFILL PACK,320.917,320.917
1279,3,1,4,5,7,NESTLE_item_4,400 GMS,REFILL PACK,245.041,245.041

In [17]:
case_study['Subbrand'] = le.fit_transform(case_study['Subbrand'])
case_study

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,0,0,1,4,6,HORLICKS LITE 500 GMS REFILL PACK,500 GMS,REFILL PACK,4883.050,4883.050
1,0,0,1,4,8,WOMENS HORLICKS 500 GMS REFILL PACK,500 GMS,REFILL PACK,4460.013,4460.013
2,0,0,1,1,2,BOOST SPORTS 500 GMS REFILL PACK,500 GMS,REFILL PACK,3230.254,3230.254
3,0,0,1,4,5,HORLICKS HEALTH AND NUTRITION 500 GMS REFILL PACK,500 GMS,REFILL PACK,4548.961,4548.961
4,0,0,1,1,1,BOOST HEALTH AND ENERGYÂ 500 GMS REFILL PACK,500 GMS,REFILL PACK,2993.130,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,3,1,4,5,7,MILO ACTIVE GO 400 GMS REFILL PACK,400 GMS,REFILL PACK,954.106,954.106
1276,3,1,4,5,7,NESTLE_item_1,400 GMS,REFILL PACK,361.682,361.682
1277,3,1,4,5,7,NESTLE_item_2,400 GMS,REFILL PACK,352.389,352.389
1278,3,1,4,5,7,NESTLE_item_3,400 GMS,REFILL PACK,320.917,320.917
1279,3,1,4,5,7,NESTLE_item_4,400 GMS,REFILL PACK,245.041,245.041

In [18]:
case_study['Item'] = le.fit_transform(case_study['Item'])
case_study

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,0,0,1,4,6,12,500 GMS,REFILL PACK,4883.050,4883.050
1,0,0,1,4,8,30,500 GMS,REFILL PACK,4460.013,4460.013
2,0,0,1,1,2,6,500 GMS,REFILL PACK,3230.254,3230.254
3,0,0,1,4,5,10,500 GMS,REFILL PACK,4548.961,4548.961
4,0,0,1,1,1,5,500 GMS,REFILL PACK,2993.130,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,3,1,4,5,7,18,400 GMS,REFILL PACK,954.106,954.106
1276,3,1,4,5,7,25,400 GMS,REFILL PACK,361.682,361.682
1277,3,1,4,5,7,26,400 GMS,REFILL PACK,352.389,352.389
1278,3,1,4,5,7,27,400 GMS,REFILL PACK,320.917,320.917
1279,3,1,4,5,7,28,400 GMS,REFILL PACK,245.041,245.041

In [19]:
case_study['PackSize'] = le.fit_transform(case_study['PackSize'])
case_study

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,0,0,1,4,6,12,3,REFILL PACK,4883.050,4883.050
1,0,0,1,4,8,30,3,REFILL PACK,4460.013,4460.013
2,0,0,1,1,2,6,3,REFILL PACK,3230.254,3230.254
3,0,0,1,4,5,10,3,REFILL PACK,4548.961,4548.961
4,0,0,1,1,1,5,3,REFILL PACK,2993.130,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,3,1,4,5,7,18,2,REFILL PACK,954.106,954.106
1276,3,1,4,5,7,25,2,REFILL PACK,361.682,361.682
1277,3,1,4,5,7,26,2,REFILL PACK,352.389,352.389
1278,3,1,4,5,7,27,2,REFILL PACK,320.917,320.917
1279,3,1,4,5,7,28,2,REFILL PACK,245.041,245.041

In [20]:
case_study['Packtype'] = le.fit_transform(case_study['Packtype'])
case_study

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,0,0,1,4,6,12,3,1,4883.050,4883.050
1,0,0,1,4,8,30,3,1,4460.013,4460.013
2,0,0,1,1,2,6,3,1,3230.254,3230.254
3,0,0,1,4,5,10,3,1,4548.961,4548.961
4,0,0,1,1,1,5,3,1,2993.130,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,3,1,4,5,7,18,2,1,954.106,954.106
1276,3,1,4,5,7,25,2,1,361.682,361.682
1277,3,1,4,5,7,26,2,1,352.389,352.389
1278,3,1,4,5,7,27,2,1,320.917,320.917
1279,3,1,4,5,7,28,2,1,245.041,245.041

In [42]:
X = case_study.drop(['month','Value Offtake(000 Rs)'],axis=1)

In [56]:
X = case_study['Manufacturer']

In [57]:
X

0       1
1       1
2       1
3       1
4       1
       ..
1275    4
1276    4
1277    4
1278    4
1279    4
Name: Manufacturer, Length: 1280, dtype: int32

In [58]:
y = case_study.month

In [59]:
y

0       4883.050
1       4460.013
2       3230.254
3       4548.961
4       2993.130
          ...
1275     954.106
1276     361.682
1277     352.389
1278     320.917
1279     245.041
Name: month, Length: 1280, dtype: float64

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x_train,x_test, y_train, y_test=train_test_split(X,y,test_size=0.30)

In [63]:
x_train.head()

984     0
91      4
534     0
676     1
1254    1
Name: Manufacturer, dtype: int32

In [64]:
x_test.head()

841     3
118     0
672     1
1240    0
1116    4
Name: Manufacturer, dtype: int32

In [65]:
x_train.shape

(896,)

In [66]:
y_train.shape

(896,)

In [67]:
x_test.shape

(384,)

In [79]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB,ComplementNB,CategoricalNB,BernoulliNB,MultinomialNB
from sklearn.ensemble import BaggingClassifier,AdaBoostClassifier,GradientBoostingClassifier,RandomForestClassifier,ExtraTreesClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split,validation_curve,learning_curve

In [80]:
model = SVC(kernel='linear',C=1E10)

In [81]:
model.fit(X,y)

ValueError: Expected 2D array, got 1D array instead:
array=[1. 1. 1. ... 4. 4. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.