In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
URL = 'https://raw.githubusercontent.com/reddyprasade/Machine-Learning-Problems-DataSets/master/Classification/fruit_data_with_colors.txt'

In [3]:
Data = pd.read_table(URL)
Data.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [4]:
Data.tail()

    fruit_label fruit_name fruit_subtype  mass  width  height  color_score
54            4      lemon       unknown   116    6.1     8.5         0.71
55            4      lemon       unknown   116    6.3     7.7         0.72
56            4      lemon       unknown   116    5.9     8.1         0.73
57            4      lemon       unknown   152    6.5     8.5         0.72
58            4      lemon       unknown   118    6.1     8.1         0.70

In [5]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fruit_label    59 non-null     int64
 1   fruit_name     59 non-null     object
 2   fruit_subtype  59 non-null     object
 3   mass           59 non-null     int64
 4   width          59 non-null     float64
 5   height         59 non-null     float64
 6   color_score    59 non-null     float64
dtypes: float64(3), int64(2), object(2)
memory usage: 3.4+ KB

In [44]:
Data_encode = pd.get_dummies(Data)
Data_encode

,fruit_label,mass,width,height,color_score,fruit_name_apple,fruit_name_lemon,fruit_name_mandarin,fruit_name_orange,fruit_subtype_braeburn,fruit_subtype_cripps_pink,fruit_subtype_golden_delicious,fruit_subtype_granny_smith,fruit_subtype_mandarin,fruit_subtype_selected_seconds,fruit_subtype_spanish_belsan,fruit_subtype_spanish_jumbo,fruit_subtype_turkey_navel,fruit_subtype_unknown
0,1,192,8.4,7.3,0.55,1,0,0,0,0,0,0,1,0,0,0,0,0,0
1,1,180,8.0,6.8,0.59,1,0,0,0,0,0,0,1,0,0,0,0,0,0
2,1,176,7.4,7.2,0.60,1,0,0,0,0,0,0,1,0,0,0,0,0,0
3,2,86,6.2,4.7,0.80,0,0,1,0,0,0,0,0,1,0,0,0,0,0
4,2,84,6.0,4.6,0.79,0,0,1,0,0,0,0,0,1,0,0,0,0,0
5,2,80,5.8,4.3,0.77,0,0,1,0,0,0,0,0,1,0,0,0,0,0
6,2,80,5.9,4.3,0.81,0,0,1,0,0,0,0,0,1,0,0,0,0,0
7,2,76,5.8,4.0,0.81,0,0,1,0,0,0,0,0,1,0,0,0,0,0
8,1,178,7.1,7.8,0.92,1,0,0,0,1,0,0,0,0,0,0,0,0,0
9,1,172,7.4,7.0,0.89,1,0,0,0,1,0,0,0,0,0,0,0,0,0
10,1,166,6.9,7.3,0.93,1,0,0,0,1,0,0,0,0,0,0,0,0,0
11,1,172,7.1,7.6,0.92,1,0,0,0,1,0,0,0,0,0,0,0,0,0
12,1,154,7.0,7.1,0.88,1,0,0,0,1,0,0,0,0,0,0,0,0,0
13,1,164,7.3,7.7,0.70,1,0,0,0,0,0,1,0,0,0,0,0,0,0
14,1,152,7.6,7.3,0.69,1,0,0,0,0,0,1,0,0,0,0,0,0,0
15,1,156,7.7,7.1,0.69,1,0,0,0,0,0,1,0,0,0,0,0,0,0
16,1,156,7.6,7.5,0.67,1,0,0,0,0,0,1,0,0,0,0,0,0,0
17,1,168,7.5,7.6,0.73,1,0,0,0,0,0,1,0,0,0,0,0,0,0
18,1,162,7.5,7.1,0.83,1,0,0,0,0,1,0,0,0,0,0,0,0,0
19,1,162,7.4,7.2,0.85,1,0,0,0,0,1,0,0,0,0,0,0,0,0
20,1,160,7.5,7.5,0.86,1,0,0,0,0,1,0,0,0,0,0,0,0,0
21,1,156,7.4,7.4,0.84,1,0,0,0,0,1,0,0,0,0,0,0,0,0
22,1,140,7.3,7.1,0.87,1,0,0,0,0,1,0,0,0,0,0,0,0,0
23,1,170,7.6,7.9,0.88,1,0,0,0,0,1,0,0,0,0,0,0,0,0
24,3,342,9.0,9.4,0.75,0,0,0,1,0,0,0,0,0,0,0,1,0,0
25,3,356,9.2,9.2,0.75,0,0,0,1,0,0,0,0,0,0,0,1,0,0
26,3,362,9.6,9.2,0.74,0,0,0,1,0,0,0,0,0,0,0,1,0,0
27,3,204,7.5,9.2,0.77,0,0,0,1,0,0,0,0,0,1,0,0,0,0
28,3,140,6.7,7.1,0.72,0,0,0,1,0,0,0,0,0,1,0,0,0,0
29,3,160,7.0,7.4,0.81,0,0,0,1,0,0,0,0,0,1,0,0,0,0
30,3,158,7.1,7.5,0.79,0,0,0,1,0,0,0,0,0,1,0,0,0,0
31,3,210,7.8,8.0,0.82,0,0,0,1,0,0,0,0,0,1,0,0,0,0
32,3,164,7.2,7.0,0.80,0,0,0,1,0,0,0,0,0,1,0,0,0,0
33,3,190,7.5,8.1,0.74,0,0,0,1,0,0,0,0,0,0,0,0,1,0
34,3,142,7.6,7.8,0.75,0,0,0,1,0,0,0,0,0,0,0,0,1,0
35,3,150,7.1,7.9,0.75,0,0,0,1,0,0,0,0,0,0,0,0,1,0
36,3,160,7.1,7.6,0.76,0,0,0,1,0,0,0,0,0,0,0,0,1,0
37,3,154,7.3,7.3,0.79,0,0,0,1,0,0,0,0,0,0,0,0,1,0
38,3,158,7.2,7.8,0.77,0,0,0,1,0,0,0,0,0,0,0,0,1,0
39,3,144,6.8,7.4,0.75,0,0,0,1,0,0,0,0,0,0,0,0,1,0
40,3,154,7.1,7.5,0.78,0,0,0,1,0,0,0,0,0,0,0,0,1,0
41,3,180,7.6,8.2,0.79,0,0,0,1,0,0,0,0,0,0,0,0,1,0
42,3,154,7.2,7.2,0.82,0,0,0,1,0,0,0,0,0,0,0,0,1,0
43,4,194,7.2,10.3,0.70,0,1,0,0,0,0,0,0,0,0,1,0,0,0
44,4,200,7.3,10.5,0.72,0,1,0,0,0,0,0,0,0,0,1,0,0,0
45,4,186,7.2,9.2,0.72,0,1,0,0,0,0,0,0,0,0,1,0,0,0
46,4,216,7.3,10.2,0.71,0,1,0,0,0,0,0,0,0,0,1,0,0,0
47,4,196,7.3,9.7,0.72,0,1,0,0,0,0,0,0,0,0,1,0,0,0
48,4,174,7.3,10.1,0.72,0,1,0,0,0,0,0,0,0,0,1,0,0,0
49,4,132,5.8,8.7,0.73,0,1,0,0,0,0,0,0,0,0,0,0,0,1
50,4,130,6.0,8.2,0.71,0,1,0,0,0,0,0,0,0,0,0,0,0,1
51,4,116,6.0,7.5,0.72,0,1,0,0,0,0,0,0,0,0,0,0,0,1
52,4,118,5.9,8.0,0.72,0,1,0,0,0,0,0,0,0,0,0,0,0,1
53,4,120,6.0,8.4,0.74,0,1,0,0,0,0,0,0,0,0,0,0,0,1
54,4,116,6.1,8.5,0.71,0,1,0,0,0,0,0,0,0,0,0,0,0,1
55,4,116,6.3,7.7,0.72,0,1,0,0,0,0,0,0,0,0,0,0,0,1
56,4,116,5.9,8.1,0.73,0,1,0,0,0,0,0,0,0,0,0,0,0,1
57,4,152,6.5,8.5,0.72,0,1,0,0,0,0,0,0,0,0,0,0,0,1
58,4,118,6.1,8.1,0.70,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [45]:
X_fruit = Data_encode.iloc[:,2:]
y_fruit = Data_encode.iloc[:,1]

In [46]:
X_fruit.head()

,width,height,color_score,fruit_name_apple,fruit_name_lemon,fruit_name_mandarin,fruit_name_orange,fruit_subtype_braeburn,fruit_subtype_cripps_pink,fruit_subtype_golden_delicious,fruit_subtype_granny_smith,fruit_subtype_mandarin,fruit_subtype_selected_seconds,fruit_subtype_spanish_belsan,fruit_subtype_spanish_jumbo,fruit_subtype_turkey_navel,fruit_subtype_unknown
0,8.4,7.3,0.55,1,0,0,0,0,0,0,1,0,0,0,0,0,0
1,8.0,6.8,0.59,1,0,0,0,0,0,0,1,0,0,0,0,0,0
2,7.4,7.2,0.60,1,0,0,0,0,0,0,1,0,0,0,0,0,0
3,6.2,4.7,0.80,0,0,1,0,0,0,0,0,1,0,0,0,0,0
4,6.0,4.6,0.79,0,0,1,0,0,0,0,0,1,0,0,0,0,0

In [9]:
y_fruit.head()

0    192
1    180
2    176
3     86
4     84
Name: mass, dtype: int64

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test, y_train, y_test=train_test_split(X_fruit,y_fruit,test_size=0.30)

In [49]:
x_train.head()

,width,height,color_score,fruit_name_apple,fruit_name_lemon,fruit_name_mandarin,fruit_name_orange,fruit_subtype_braeburn,fruit_subtype_cripps_pink,fruit_subtype_golden_delicious,fruit_subtype_granny_smith,fruit_subtype_mandarin,fruit_subtype_selected_seconds,fruit_subtype_spanish_belsan,fruit_subtype_spanish_jumbo,fruit_subtype_turkey_navel,fruit_subtype_unknown
11,7.1,7.6,0.92,1,0,0,0,1,0,0,0,0,0,0,0,0,0
55,6.3,7.7,0.72,0,1,0,0,0,0,0,0,0,0,0,0,0,1
21,7.4,7.4,0.84,1,0,0,0,0,1,0,0,0,0,0,0,0,0
2,7.4,7.2,0.60,1,0,0,0,0,0,0,1,0,0,0,0,0,0
51,6.0,7.5,0.72,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [50]:
x_test.head()

,width,height,color_score,fruit_name_apple,fruit_name_lemon,fruit_name_mandarin,fruit_name_orange,fruit_subtype_braeburn,fruit_subtype_cripps_pink,fruit_subtype_golden_delicious,fruit_subtype_granny_smith,fruit_subtype_mandarin,fruit_subtype_selected_seconds,fruit_subtype_spanish_belsan,fruit_subtype_spanish_jumbo,fruit_subtype_turkey_navel,fruit_subtype_unknown
43,7.2,10.3,0.70,0,1,0,0,0,0,0,0,0,0,1,0,0,0
6,5.9,4.3,0.81,0,0,1,0,0,0,0,0,1,0,0,0,0,0
35,7.1,7.9,0.75,0,0,0,1,0,0,0,0,0,0,0,0,1,0
19,7.4,7.2,0.85,1,0,0,0,0,1,0,0,0,0,0,0,0,0
36,7.1,7.6,0.76,0,0,0,1,0,0,0,0,0,0,0,0,1,0

In [51]:
x_train.shape

(41, 17)

In [52]:
y_train.shape

(41,)

In [53]:
x_test.shape

(18, 17)

In [54]:
from sklearn.svm import SVC
model = SVC(kernel='linear',C=1E10)

In [55]:
model.fit(X_fruit,y_fruit)

SVC(C=10000000000.0, kernel='linear')

In [56]:
New_prediction = model.predict(x_test)
New_prediction

array([194,  80, 150, 162, 160, 216, 116, 174, 154, 172, 168, 152, 162,
       200, 116,  84, 170, 158], dtype=int64)

In [57]:
Comp = pd.DataFrame({'ACTUAL_DATA':y_test,
                    "New_prediction":New_prediction})

In [58]:
Comp

    ACTUAL_DATA  New_prediction
43          194             194
6            80              80
35          150             150
19          162             162
36          160             160
46          216             216
56          116             116
48          174             174
42          154             154
9           172             172
17          168             168
14          152             152
18          162             162
44          200             200
54          116             116
4            84              84
23          170             170
30          158             158

In [59]:
Train_Score = model.score(x_train,y_train)*100

In [60]:
Train_Score

100.0

In [61]:
Test_Score = model.score(x_test,y_test)*100
print("Testing Score is {}".format(Test_Score))

Testing Score is 100.0

In [62]:
from sklearn.linear_model import LogisticRegression

In [63]:
Lr = LogisticRegression(solver='newton-cg',C=1.0,max_iter=100)

In [64]:
Lr.fit(x_train,y_train)

LogisticRegression(solver='newton-cg')

In [65]:
y_test

43    194
6      80
35    150
19    162
36    160
46    216
56    116
48    174
42    154
9     172
17    168
14    152
18    162
44    200
54    116
4      84
23    170
30    158
Name: mass, dtype: int64

In [66]:
yhat_prob = Lr.predict_proba(x_test)
yhat_prob

array([[2.14297340e-04, 3.65893323e-04, 6.67582336e-04, 1.39988653e-02,
        3.18735458e-02, 3.25821226e-02, 2.45746386e-02, 4.61348186e-02,
        6.10650797e-03, 1.02284775e-02, 6.25169753e-03, 4.30587191e-02,
        7.34488161e-03, 1.07350151e-02, 1.11446970e-02, 1.23327087e-02,
        9.79126713e-03, 6.67624659e-03, 1.08724485e-02, 6.34498593e-03,
        1.50150746e-02, 1.07852636e-02, 1.97187992e-01, 1.65613930e-02,
        5.74725593e-03, 3.04278816e-01, 6.43983279e-02, 1.31096872e-02,
        3.74866807e-02, 2.54315687e-02, 1.86985235e-02],
       [2.51088602e-01, 2.34565005e-01, 2.02996747e-01, 3.65437338e-02,
        1.23962075e-02, 3.03002259e-03, 4.82924653e-03, 1.59042558e-03,
        4.88023519e-02, 4.22408365e-03, 1.40784254e-02, 1.82514908e-03,
        5.30105172e-02, 2.06119025e-02, 5.33051053e-03, 2.06696057e-02,
        2.67598210e-02, 1.30415633e-02, 6.48605876e-03, 1.15078218e-02,
        4.27401772e-03, 1.14409165e-02, 5.11527166e-04, 2.36488262e-03,
        4.43585147e-03, 1.37891538e-04, 2.44931351e-04, 2.73871148e-03,
        1.28352196e-04, 1.89492725e-04, 1.45624148e-04],
       [5.86264197e-03, 7.29355022e-03, 9.76514561e-03, 2.19910609e-02,
        2.29729128e-02, 1.69357092e-02, 1.69726950e-02, 1.60536546e-02,
        4.07727090e-02, 5.94506430e-02, 6.32281289e-02, 1.76964146e-02,
        1.71900496e-01, 2.76109121e-02, 6.37262900e-02, 4.31051228e-02,
        4.22405911e-02, 1.75140789e-02, 1.82503576e-02, 1.73430842e-02,
        1.87032048e-02, 7.16288786e-02, 1.73756501e-02, 6.17250065e-02,
        1.37435421e-02, 1.46680525e-02, 2.71861857e-02, 2.79174506e-02,
        1.70880511e-02, 1.62941315e-02, 1.29836482e-02],
       [9.78952330e-03, 1.09858216e-02, 1.48627084e-02, 2.12238284e-02,
        1.58392305e-02, 1.05115218e-02, 1.14533736e-02, 8.24337898e-03,
        1.15414502e-01, 1.65279298e-02, 1.61035351e-02, 1.20005745e-02,
        5.78422767e-02, 2.01275726e-01, 1.57352496e-02, 1.15118579e-01,
        5.26093476e-02, 3.16368991e-02, 3.09305994e-02, 3.44777934e-02,
        2.94433842e-02, 4.97094405e-02, 1.10840452e-02, 1.46490151e-02,
        3.29712823e-02, 7.86461480e-03, 9.02682812e-03, 1.64779123e-02,
        8.34696340e-03, 9.30483536e-03, 8.53927948e-03],
       [7.98054384e-03, 9.54600028e-03, 1.24099044e-02, 2.34174615e-02,
        2.15560804e-02, 1.48429520e-02, 1.54749461e-02, 1.32098204e-02,
        4.52077793e-02, 5.79972434e-02, 6.49337671e-02, 1.52726275e-02,
        1.91464789e-01, 2.95174066e-02, 6.14214285e-02, 4.44721239e-02,
        4.47867689e-02, 1.79956182e-02, 1.77760286e-02, 1.80628404e-02,
        1.75119821e-02, 7.48557906e-02, 1.37918014e-02, 5.65888987e-02,
        1.43445805e-02, 1.06277471e-02, 2.04989532e-02, 2.65054744e-02,
        1.34626790e-02, 1.34993310e-02, 1.09666315e-02],
       [2.43565658e-04, 4.08317995e-04, 7.57450335e-04, 1.44506936e-02,
        3.08077007e-02, 3.14243303e-02, 2.40216487e-02, 4.29036190e-02,
        6.62005226e-03, 1.11008942e-02, 6.54063177e-03, 4.27835848e-02,
        8.09109766e-03, 1.22603683e-02, 1.17146271e-02, 1.33676836e-02,
        1.07115333e-02, 7.06924810e-03, 1.14587970e-02, 6.92179225e-03,
        1.56012461e-02, 1.23746152e-02, 1.95496484e-01, 1.74270952e-02,
        6.71354397e-03, 2.93392277e-01, 6.27766478e-02, 1.42676480e-02,
        3.95837046e-02, 2.77121833e-02, 2.09969189e-02],
       [5.88127687e-03, 7.92887209e-03, 8.25365409e-03, 1.70267325e-01,
        1.91292390e-01, 7.56290307e-02, 7.54724155e-02, 8.05274685e-02,
        2.48970447e-02, 1.03462922e-02, 1.75046880e-02, 6.21743810e-02,
        2.55971725e-02, 1.56082066e-02, 1.44352641e-02, 2.24882497e-02,
        2.16468539e-02, 1.63298238e-02, 1.53546139e-02, 1.25058223e-02,
        1.61141473e-02, 1.16675938e-02, 2.54524951e-02, 1.20851774e-02,
        5.04111647e-03, 2.14116669e-02, 1.34758839e-02, 9.45420468e-03,
        4.82898337e-03, 3.89431476e-03, 2.43357100e-03],
       [2.88053033e-04, 4.76494611e-04, 8.75477764e-04, 1.57401376e-02,
        3.21682368e-02, 3.20851707e-02, 2.48469017e-02, 4.28922208e-02,
        7.31211953e-03, 1.17456839e-02, 7.03990186e-03, 4.34535674e-02,
        8.95509325e-03, 1.33712013e-02, 1.23467438e-02, 1.44228961e-02,
        1.16520942e-02, 7.61783519e-03, 1.21293205e-02, 7.47915743e-03,
        1.62983381e-02, 1.33899994e-02, 1.93095057e-01, 1.80602411e-02,
        7.25790412e-03, 2.81116034e-01, 6.09661789e-02, 1.49670818e-02,
        3.90060107e-02, 2.77695429e-02, 2.11753041e-02],
       [1.13186710e-02, 1.27615742e-02, 1.63997865e-02, 2.35356086e-02,
        1.78655831e-02, 1.14890570e-02, 1.26138440e-02, 9.25360711e-03,
        4.98303162e-02, 5.62069457e-02, 6.38524995e-02, 1.19827180e-02,
        2.16092745e-01, 3.29418107e-02, 5.70015980e-02, 4.57581934e-02,
        4.75358427e-02, 1.80277966e-02, 1.67970153e-02, 1.86931855e-02,
        1.56825410e-02, 8.18929677e-02, 9.93018158e-03, 4.99510851e-02,
        1.59114849e-02, 6.79415506e-03, 1.38032496e-02, 2.51367253e-02,
        1.02562118e-02, 1.11604356e-02, 9.52256408e-03],
       [1.27638481e-02, 1.38936687e-02, 1.84394141e-02, 2.27820701e-02,
        1.55764531e-02, 1.00539862e-02, 1.12289904e-02, 7.56550876e-03,
        5.53911938e-02, 1.71917280e-02, 1.71409442e-02, 1.13970649e-02,
        1.33266314e-01, 1.07232436e-01, 1.61423201e-02, 5.34885280e-02,
        5.58247484e-02, 7.54091361e-02, 7.16122568e-02, 3.66420311e-02,
        6.64202805e-02, 5.38392696e-02, 9.99516574e-03, 1.45791530e-02,
        3.60638744e-02, 6.69803206e-03, 7.88981426e-03, 1.68961330e-02,
        7.60155189e-03, 8.78313823e-03, 8.19094605e-03],
       [5.73416807e-03, 6.77920590e-03, 9.76820408e-03, 1.72054601e-02,
        1.48113714e-02, 1.08866851e-02, 1.13035807e-02, 9.14127807e-03,
        4.08584209e-02, 1.61284891e-02, 1.39575584e-02, 1.31566705e-02,
        4.62680207e-02, 3.21702268e-01, 1.51614188e-02, 4.55220074e-02,
        1.04046171e-01, 2.74537968e-02, 2.91463385e-02, 3.09159203e-02,
        2.91705507e-02, 4.62162314e-02, 1.39093004e-02, 1.53768728e-02,
        3.13684971e-02, 1.11555371e-02, 1.20819952e-02, 1.67343970e-02,
        1.12468774e-02, 1.18958744e-02, 1.08968329e-02],
       [7.15976337e-03, 8.11385849e-03, 1.16339277e-02, 1.66261903e-02,
        1.23269588e-02, 8.61364892e-03, 9.32260331e-03, 6.68967222e-03,
        4.24207462e-02, 1.54318142e-02, 1.33249289e-02, 1.06272998e-02,
        4.87453956e-02, 3.44983849e-01, 1.39226618e-02, 4.48258263e-02,
        1.06129100e-01, 2.63085492e-02, 2.68386465e-02, 3.12759535e-02,
        2.57929516e-02, 4.91679450e-02, 1.06020838e-02, 1.36938438e-02,
        3.40850375e-02, 7.78064432e-03, 8.73480666e-03, 1.57083517e-02,
        9.07404381e-03, 1.02415599e-02, 9.79733762e-03],
       [1.02034860e-02, 1.12555189e-02, 1.54669760e-02, 2.01304582e-02,
        1.40724782e-02, 9.30439238e-03, 1.02845915e-02, 7.03731553e-03,
        1.14711977e-01, 1.64677003e-02, 1.54687481e-02, 1.09503120e-02,
        5.82822847e-02, 2.11261425e-01, 1.51761211e-02, 1.14111925e-01,
        5.28509255e-02, 3.06178201e-02, 2.98015885e-02, 3.46574246e-02,
        2.79674677e-02, 5.24878431e-02, 1.00917065e-02, 1.41556936e-02,
        3.55202916e-02, 6.96344571e-03, 8.07342538e-03, 1.64306025e-02,
        8.08893450e-03, 9.30507222e-03, 8.80204816e-03],
       [1.46007232e-04, 2.54377888e-04, 4.86311971e-04, 1.10593161e-02,
        2.67499568e-02, 2.92425040e-02, 2.14744363e-02, 4.25176346e-02,
        4.87289604e-03, 9.27864908e-03, 5.19286732e-03, 4.04140491e-02,
        5.93798671e-03, 9.34494404e-03, 9.91437083e-03, 1.05924028e-02,
        8.23638299e-03, 5.62673788e-03, 9.61993172e-03, 5.40591018e-03,
        1.36251155e-02, 9.63986854e-03, 2.00790452e-01, 1.54970052e-02,
        5.22900437e-03, 3.30133299e-01, 6.79158633e-02, 1.22702759e-02,
        4.09780390e-02, 2.72816105e-02, 2.02717924e-02],
       [3.58380586e-03, 5.04221327e-03, 5.75128567e-03, 1.40040131e-01,
        1.77697155e-01, 8.00963261e-02, 7.59128991e-02, 8.99663425e-02,
        2.08007116e-02, 1.12008110e-02, 1.58920339e-02, 7.21029344e-02,
        2.18484231e-02, 1.55933403e-02, 1.50125538e-02, 2.16563718e-02,
        2.01616512e-02, 1.51248580e-02, 1.56815558e-02, 1.20311904e-02,
        1.73094052e-02, 1.23220222e-02, 3.47418862e-02, 1.39292010e-02,
        5.54018929e-03, 3.31747326e-02, 1.96938652e-02, 1.08520967e-02,
        7.58635157e-03, 5.89160813e-03, 3.76204837e-03],
       [2.21478701e-01, 2.14206966e-01, 1.95921637e-01, 4.06610535e-02,
        1.52910462e-02, 4.08126238e-03, 6.25746678e-03, 2.24709637e-03,
        5.39695785e-02, 5.55097760e-03, 1.66550015e-02, 2.58610264e-03,
        5.91341510e-02, 2.52446404e-02, 6.89262584e-03, 2.51232512e-02,
        3.17264484e-02, 1.55650725e-02, 8.27529529e-03, 1.39598943e-02,
        5.66649662e-03, 1.45206899e-02, 8.08579924e-04, 3.27395404e-03,
        5.74832727e-03, 2.39388948e-04, 4.07441550e-04, 3.73792691e-03,
        2.18173387e-04, 3.10828544e-04, 2.39924408e-04],
       [4.48719615e-03, 5.45302228e-03, 8.34191845e-03, 1.67200825e-02,
        1.59809726e-02, 1.29854355e-02, 1.28932321e-02, 1.14366880e-02,
        8.90928110e-02, 1.87392682e-02, 1.45417589e-02, 1.64646888e-02,
        4.56225841e-02, 1.91769482e-01, 1.73661518e-02, 1.10635859e-01,
        4.71928154e-02, 2.93968313e-02, 3.34157862e-02, 3.22993307e-02,
        3.48041711e-02, 5.10763402e-02, 1.94617099e-02, 1.88051849e-02,
        3.51480348e-02, 1.71743922e-02, 1.78970926e-02, 2.04363724e-02,
        1.70167011e-02, 1.73723602e-02, 1.59717254e-02],
       [9.29535757e-03, 1.09869693e-02, 1.42434400e-02, 2.57860837e-02,
        2.27649002e-02, 1.52401984e-02, 1.61058524e-02, 1.32127652e-02,
        1.09254324e-01, 2.93459788e-02, 3.30925338e-02, 1.56378420e-02,
        7.16635985e-02, 3.34358347e-02, 3.09375857e-02, 1.06680578e-01,
        1.07757448e-01, 1.96806549e-02, 1.91497874e-02, 1.97647329e-02,
        1.86162269e-02, 4.19778351e-02, 1.36431138e-02, 2.78818162e-02,
        1.57069347e-02, 1.00470448e-02, 4.49586382e-02, 6.51043474e-02,
        1.32803416e-02, 1.36306309e-02, 1.11166057e-02]])

In [67]:
Training_score = Lr.score(x_train,y_train)
Training_score

0.3902439024390244

In [68]:
New_Predication = Lm_predication=Lr.predict(x_test)

In [69]:
Test_score = Lr.score(x_test,New_Predication)

In [70]:
Test_score

1.0

In [71]:
from sklearn.naive_bayes import BernoulliNB, ComplementNB,MultinomialNB,GaussianNB

In [72]:
Bnb = BernoulliNB()
Cnb = ComplementNB()
Mnb = MultinomialNB()
Gnb = GaussianNB()

In [73]:
Bnb = BernoulliNB()
Cnb = ComplementNB()
Mnb = MultinomialNB()
Gnb = GaussianNB()

In [74]:
Bnb.fit(x_train,y_train)

BernoulliNB()

In [75]:
Bnb.alpha

1.0

In [76]:
Train_Score = Bnb.score(x_train,y_train)
Train_Score

0.1951219512195122

In [77]:
Bnb_new_prediction = Bnb.predict(x_test)

In [78]:
Test_Score = Bnb.score(x_test,y_test)

In [79]:
Test_Score

0.16666666666666666

In [80]:
Cnb.fit(x_train,y_train)

ComplementNB()

In [81]:
Cnb.alpha

1.0

In [82]:
Train_Score = Cnb.score(x_train,y_train)
Train_Score

0.36585365853658536