In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
import matplotlib.pyplot as plt
from IPython.core.display import display,HTML,Javascript
from string import Template
import json, random
import IPython.display
import warnings
warnings.filterwarnings('ignore')

In [7]:
path = 'Downloads/developer_survey_2019/survey_results_public.csv'
schema = 'Downloads/developer_survey_2019/survey_results_schema.csv'

In [8]:
df = pd.read_csv(path)

In [9]:
df.head(3)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult

In [10]:
df.tail()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [12]:
df['Country'].count()

88751

In [13]:
df['Country'].unique()

array(['United Kingdom', 'Bosnia and Herzegovina', 'Thailand',
       'United States', 'Ukraine', 'Canada', 'India', 'New Zealand',
       'Antigua and Barbuda', 'Germany', 'Australia',
       'Russian Federation', 'Brazil', 'Lithuania', 'Israel',
       'South Africa', 'Colombia', 'Turkey', 'Switzerland', 'Argentina',
       'Sri Lanka', 'Czech Republic', 'Denmark', 'Malaysia', 'Bangladesh',
       'Spain', 'Serbia', 'Poland', 'Sweden', 'China', 'France',
       'Netherlands', 'Italy', 'Philippines', 'Ireland', 'Pakistan',
       'Azerbaijan', 'Austria', 'Estonia', 'Croatia', 'South Korea',
       'Greece', 'Japan', 'Romania', 'Finland', 'Bulgaria', 'Viet Nam',
       'Slovenia', 'Iran', 'Belarus', 'Hungary', 'Latvia',
       'Hong Kong (S.A.R.)', 'United Arab Emirates', 'Portugal',
       'Nigeria', 'Norway', 'Nicaragua', 'Zimbabwe', 'Egypt', 'Mexico',
       'Dominican Republic', 'Guatemala', 'Chile', 'Ecuador', 'Ghana',
       'Uganda', 'Cambodia', 'Mauritius', 'Nepal', 'Singapore',
       'Sierra Leone', 'Republic of Moldova', 'Belgium', 'Armenia',
       'Afghanistan', 'Bahrain', 'Mongolia', 'Georgia', 'Cyprus', 'Kenya',
       'Luxembourg', 'Saudi Arabia', 'Cape Verde', 'Peru', 'Burundi',
       'Iraq', 'Slovakia', 'Algeria', 'Taiwan', 'Yemen', 'Indonesia',
       'Morocco', 'Libyan Arab Jamahiriya', 'Belize', 'Mali',
       'Trinidad and Tobago', 'Venezuela, Bolivarian Republic of...',
       'Panama', 'Lebanon', 'Tunisia', 'Kuwait', 'Andorra',
       "Côte d'Ivoire", 'Syrian Arab Republic', 'El Salvador', 'Cameroon',
       'Malta', 'Turkmenistan', 'Brunei Darussalam',
       'Other Country (Not Listed Above)', 'Costa Rica', 'Jordan',
       'Albania', 'Uzbekistan', 'Sudan', 'Kazakhstan',
       'The former Yugoslav Republic of Macedonia', 'Ethiopia',
       'Paraguay', 'Myanmar', 'Somalia', 'Guyana', 'Honduras', 'Qatar',
       'Jamaica', 'Fiji', 'Haiti', 'Democratic Republic of the Congo',
       'Benin', 'Namibia', 'Montenegro', 'Rwanda', 'Tajikistan',
       'Uruguay', 'Mauritania', 'Bolivia', 'Gabon', 'Liechtenstein',
       'United Republic of Tanzania', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Madagascar', 'Guinea',
       'Republic of Korea', 'Cuba', 'Maldives', 'Monaco', 'North Korea',
       'Senegal', 'Angola', 'Iceland', 'Togo', 'Swaziland',
       'Congo, Republic of the...', 'Zambia', 'Oman', 'Timor-Leste',
       'Tonga', 'Djibouti', "Democratic People's Republic of Korea",
       'Niger', 'Mozambique', 'Botswana', 'Dominica', 'Papua New Guinea',
       'Barbados', 'Seychelles', 'Lesotho', 'Bahamas', 'Burkina Faso',
       'Saint Kitts and Nevis', 'Malawi', 'Liberia', 'Bhutan',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Chad', nan], dtype=object)

In [14]:
t = df['Country'].value_counts().to_frame().reset_index()

In [15]:
t

                     index  Country
0            United States    20949
1                    India     9061
2                  Germany     5866
3           United Kingdom     5737
4                   Canada     3395
..                     ...      ...
174      Brunei Darussalam        1
175            Timor-Leste        1
176                  Tonga        1
177                  Niger        1
178  Sao Tome and Principe        1

[179 rows x 2 columns]

In [18]:
df['Hobbyist'].count()

88883

In [20]:
df['Hobbyist'].unique()

array(['Yes', 'No'], dtype=object)

In [31]:
df['Hobbyist'].value_counts(10)

Yes    0.801694
No     0.198306
Name: Hobbyist, dtype: float64

In [73]:
df[['Hobbyist','Employment']].count()

Hobbyist      88883
Employment    87181
dtype: int64

In [74]:
df[['Hobbyist','Student']].count()

Hobbyist    88883
Student     87014
dtype: int64

In [79]:
df[['OpenSource','Employment']].count()

OpenSource    86842
Employment    87181
dtype: int64

In [80]:
df[['OpenSource','Student']].count()

OpenSource    86842
Student       87014
dtype: int64

In [55]:
t6 = df['OpenSource'].value_counts().to_frame().reset_index()

In [56]:
t6

                                               index  OpenSource
0  The quality of OSS and closed source software ...       41527
1  OSS is, on average, of HIGHER quality than pro...       36556
2  OSS is, on average, of LOWER quality than prop...        8759

In [57]:
t6 = df['OpenSource'].value_counts().to_frame().reset_index()

In [64]:
t2 = df['Employment'].value_counts(3).to_frame(3).reset_index()

In [65]:
t2

                                               index         3
0                                 Employed full-time  0.739152
1  Independent contractor, freelancer, or self-em...  0.097624
2                 Not employed, but looking for work  0.064234
3                                 Employed part-time  0.051261
4             Not employed, and not looking for work  0.043622
5                                            Retired  0.004106

In [66]:
t7 = df['EdLevel'].value_counts(3).to_frame(3).reset_index()

In [67]:
t7

                                               index         3
0           Bachelor’s degree (BA, BS, B.Eng., etc.)  0.452992
1        Master’s degree (MA, MS, M.Eng., MBA, etc.)  0.226519
2  Some college/university study without earning ...  0.121565
3  Secondary school (e.g. American high school, G...  0.100035
4                                   Associate degree  0.034009
5          Other doctoral degree (Ph.D, Ed.D., etc.)  0.028151
6                          Primary/elementary school  0.016460
7                 Professional degree (JD, MD, etc.)  0.013867
8             I never completed any formal education  0.006401

In [68]:
t8 = df['Country'].value_counts(3).to_frame(3).reset_index()

In [69]:
t8

                     index         3
0            United States  0.236042
1                    India  0.102095
2                  Germany  0.066095
3           United Kingdom  0.064642
4                   Canada  0.038253
..                     ...       ...
174      Brunei Darussalam  0.000011
175            Timor-Leste  0.000011
176                  Tonga  0.000011
177                  Niger  0.000011
178  Sao Tome and Principe  0.000011

[179 rows x 2 columns]