<a href="https://colab.research.google.com/github/ShyamKumarChand/Collection-of-data/blob/master/Tic_Tac_Tok.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data'

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [5]:
df.tail()

     x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
952  o   x   x   x  o   o   o   x   x  negative
953  o   x   o   x  x   o   x   o   x  negative
954  o   x   o   x  o   x   x   o   x  negative
955  o   x   o   o  x   x   x   o   x  negative
956  o   o   x   x  x   o   o   x   x  negative

In [6]:

df.describe()

          x  x.1  x.2  x.3    o  o.1  x.4  o.2  o.3  positive
count   957  957  957  957  957  957  957  957  957       957
unique    3    3    3    3    3    3    3    3    3         2
top       x    x    x    x    x    x    x    x    x  positive
freq    417  377  417  377  458  378  417  378  418       625

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()

In [9]:
df['x'] = le.fit_transform(df['x'])
df['x.1'] = le.fit_transform(df['x.1'])
df['x.2'] = le.fit_transform(df['x.2'])
df['x.3'] = le.fit_transform(df['x.3'])
df['o'] = le.fit_transform(df['o'])
df['o.1'] = le.fit_transform(df['o.1'])
df['x.4'] = le.fit_transform(df['x.4'])
df['o.2'] = le.fit_transform(df['o.2'])
df['o.3'] = le.fit_transform(df['o.3'])
df['positive'] = le.fit_transform(df['positive'])
df

     x  x.1  x.2  x.3  o  o.1  x.4  o.2  o.3  positive
0    2    2    2    2  1    1    1    2    1         1
1    2    2    2    2  1    1    1    1    2         1
2    2    2    2    2  1    1    1    0    0         1
3    2    2    2    2  1    1    0    1    0         1
4    2    2    2    2  1    1    0    0    1         1
..  ..  ...  ...  ... ..  ...  ...  ...  ...       ...
952  1    2    2    2  1    1    1    2    2         0
953  1    2    1    2  2    1    2    1    2         0
954  1    2    1    2  1    2    2    1    2         0
955  1    2    1    1  2    2    2    1    2         0
956  1    1    2    2  2    1    1    2    2         0

[957 rows x 10 columns]

In [10]:
X = df.drop(['positive'], axis=1)

In [11]:
y = df.positive
y

0      1
1      1
2      1
3      1
4      1
      ..
952    0
953    0
954    0
955    0
956    0
Name: positive, Length: 957, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30)

In [14]:
X_train.shape

(669, 9)

In [15]:
y_test.shape

(288,)

In [16]:
from sklearn.naive_bayes import BernoulliNB, ComplementNB,MultinomialNB,GaussianNB

In [17]:
Bnb = BernoulliNB()
Cnb = ComplementNB()
Mnb = MultinomialNB()
Gnb = GaussianNB()

In [19]:
Bnb.fit(X_train,y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [20]:
Bnb.alpha

1.0

In [22]:
Train_Score = Bnb.score(X_train,y_train)
Train_Score

0.6636771300448431

In [23]:
Test_Score = Bnb.score(X_test,y_test)
Test_Score

0.6284722222222222

In [26]:
yhat = Bnb.predict(X_test)

In [25]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [29]:
cm = confusion_matrix(y_test,yhat)
cm

array([[  0, 107],
       [  0, 181]])

In [30]:
print(classification_report(y_test,yhat))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       107
           1       0.63      1.00      0.77       181

    accuracy                           0.63       288
   macro avg       0.31      0.50      0.39       288
weighted avg       0.39      0.63      0.49       288

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [32]:
Bnb_accuracy =accuracy_score(y_test,yhat)